@import "./../../../sass/variables.scss";

.task {
  border: 1px solid $group-task-border-color;
  border-radius: 0.3rem;
  display: flex;
  background-color: #fff;
  cursor: pointer;
  &__actions,
  &__edit_delete {
    padding: 1rem;
  }
  &__content {
    padding: 1rem 0;
    flex-grow: 1;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-areas: "content-icon content-text";

    .content-icon {
      grid-area: content-icon;
    }
    .content-text {
      grid-area: content-text;
      display: block;
      width: calc(100% - 10rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__edit_delete {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  &.hidden {
    opacity: 0.5;
    color: black;
  }
}
.icons {
  cursor: pointer;
  font-size: 2rem;
}
